* {
  /* outline-style: dotted; */
  margin: auto;
  font-family: 'Caveat', cursive;
  /* font-family: Arial, Helvetica, sans-serif; */
}

#salmon {
  background-color:rgb(149, 160, 255);
  height: 70px;
  width: 200px;
  padding-bottom: 16px;
  float: left;
}

ul li{
  display: inline-block;  
}

#fishImg {
  width: 500px;
  height: 200px;
  margin-top: 50px;
  margin-left: 100px;
  padding-right: 15px;
  padding-left: 90px;
  
}

h1 {
  text-align: center;
  font-size: 30px;
}



nav ul{
  background-color:rgb(149, 160, 255);
  padding-bottom: 35px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around; /* nicely spaces out the nav links */
  margin-bottom: 15px;
}

body {
  background-color: #e9baa8;
}


footer {
  color: black;
  font-size: 25px;
  text-align: center;
  background-color: rgb(149, 160, 255);
  height: 140px;
  margin-top: 15px;
}

footer p {
  font-size: 20px;
  float: left;
}

footer a {
  margin-top: 40px;
  text-align: center;
  margin-left: 100px;
}