* {
  /* outline-style: dotted; */
  margin: auto;
  font-family: 'Caveat', cursive;
  /* font-family: Arial, Helvetica, sans-serif; */
}




/* h1 {
  color: #63474D;
  background-color: #FFA686;
  text-align: center;
  text-shadow: 5px 5px 5px;
  font-size: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
} */
/* --- NAV --- */
nav ul{
  background-color:rgb(149, 160, 255);
  padding-bottom: 35px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around; /* nicely spaces out the nav links */
  margin-bottom: 15px;
}


/* --- IMAGES --- */
img {
  background-color:rgb(149, 160, 255);
  height: 70px;
  width: 200px;
  padding-bottom: 16px;
  float: left;
}

body {

  background-color: #f1b8a3;

  background-color: #e9baa8;

  background-size: auto; 
}
p {
  font-size: 50px;
}

table, th {
  color: black;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline-style: solid;
}



table th {
  background-color:rgb(149, 160, 255);
}

table, tr {
  color: black;
  background-color: rgb(250, 190, 175);

  background-color: rgb(247, 212, 204);

  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline-style: solid;
}

table, td {
  color: black;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline-style: solid;
}

button {
  font-size: 23px;
}

form {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 350px;
}

legend {
  margin-bottom: 25px;
  font-size: 25px;
  text-decoration: underline;
}

footer {
  color: black;
  font-size: 25px;
  text-align: center;
  background-color: rgb(149, 160, 255);
  height: 140px;
  margin-top: 15px;
}

footer li {
  margin-top: 40px;
}
/* ---COLORS---
#63474D (Rose Ebony) 
#AA767C (Old Rose)
#D6A184 (Antique Brass)
#FFA686 (Light Salmon)
#FEC196 (Macoroni and Cheese 
*/